<!-- Modal -->
<div class="modal fade" id="modal-rate-interview" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Rate Student Interview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" name="interview-student" id="interview-student">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row g-2">
                        <div class="col-12 col-md-12">
                            <label for="fullname" class="form-label">Name<span class="text-muted"></span></label>
                            <input type="text" disabled="true" class="form-control" id="fullname" placeholder="" name="fullname" value="{{ application.student.first_name }} {{ application.student.middle_name }} {{ application.student.last_name }}">
                        </div>
                        <div class="col-12 col-md-12">
                            <label for="score" class="form-label">Score (out of 100)<span class="text-muted"></span></label>
                            <input type="number" class="form-control" id="score" placeholder="" name="score">
                            <div class="invalid-feedback d-none score">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 interview-comments">
                            <label for="comments" class="form-label">Comments</label>
                            <textarea class="form-control" id="comments" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Save" class="btn btn-primary background-color-green" name="interview-student" id="interview-student">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('form#interview-student').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            formData.append('application_id', '{{application.id}}')
            $.ajax({
                type: 'POST',
                url: "{% url 'rate_interview' %}",
                data: formData,
                processData: false,
                contentType: false,
    
                success: function(data) {
                    var errors = JSON.parse(data);
                    has_error = false;
    
                    $('div.score').empty().removeClass('d-block');
                    $('#score').removeClass('is-invalid');
    
                    if (errors.score) {
                        $('#score').addClass('is-invalid');
                        $('div.score').removeClass('d-none');
                        $('div.score').addClass('d-block');
                        $.each(errors.score, function(index, error) {
                            $('div.score').append('<span>' + error.message + '</span>');
                        });
                        has_error = true
                    }
    
                    if (!has_error) {
                        load('interview')
                        $('#modal-rate-interview').modal('hide');
                    }
                },
            });
        });
    })
</script>