<!-- Modal -->
<div class="modal fade" id="process-student-modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update Student Application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" name="process-student" id="process-student">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row g-2">
                        <div class="col-12 col-md-12">
                            <label for="fullname" class="form-label">Name<span class="text-muted"></span></label>
                            <input type="text" disabled="true" class="form-control" id="fullname" placeholder="" name="fullname" value="{{ application.student.first_name }} {{ application.student.middle_name }} {{ application.student.last_name }}">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Application Status</label>
                            <div class="col-12 rb-container">
                                <div class="form-check d-sm-inline-block me-sm-2">
                                    <input class="form-check-input" type="radio" id="approved" name="student_status" value="approved">
                                    <label class="form-check-label" for="approved">Approved</label>
                                </div>
                                <div class="form-check d-sm-inline-block me-sm-2">
                                    <input class="form-check-input" type="radio" id="declined" name="student_status" value="declined">
                                    <label class="form-check-label" for="declined">Declined</label>
                                </div>
                                <div class="form-check d-sm-inline-block me-sm-2">
                                    <input class="form-check-input" type="radio" id="waiting-list" name="student_status" value="waiting-list">
                                    <label class="form-check-label" for="waiting-list">Moved to Waiting List</label>
                                </div>
                                <div class="invalid-feedback d-none student_status">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 process-comments">
                            <label for="comments" class="form-label">Comments</label>
                            <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                            <div class="invalid-feedback d-none comments">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Save" class="btn btn-primary background-color-green" name="process-student" id="process-student">Update Application Status</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        $("#approved").on('click', function(){
            $('#comments').val('Application approved. Waiting for enrollment.')
        });

        $("#declined").on('click', function(){
            $('#comments').val('Did not qualify.')
        });

        $("#waiting-list").on('click', function(){
            $('#score').prop('disabled', true)
            $('#comments').val('Moved to waiting list. Waiting for slot availability.')
        });

        $('form#process-student').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            formData.append('application_id', '{{application.id}}');
            $.ajax({
                type: 'POST',
                url: "{% url 'process_application' %}",
                data: formData,
                processData: false,
                contentType: false,
    
                success: function(data) {
                    var errors = JSON.parse(data);
                    has_error = false;
    
                    $('div.student_status').empty().removeClass('d-block');
                    $('.rb-container .form-check-input').removeClass('rb-invalid');
                    $('div.comments').empty().removeClass('d-block');
                    $('#comments').removeClass('is-invalid');

                    if (errors.student_status) {
                        $('.rb-container .form-check-input').addClass('rb-invalid');
                        $('div.student_status').removeClass('d-none');
                        $('div.student_status').addClass('d-block');
                        $.each(errors.student_status, function(index, error) {
                          $('div.student_status').append('<span>' + error.message + '</span>');
                        });
                        has_error = true
                      }

                    if (errors.comments) {
                        $('#comments').addClass('is-invalid');
                        $('div.comments').removeClass('d-none');
                        $('div.comments').addClass('d-block');
                        $.each(errors.comments, function(index, error) {
                            $('div.comments').append('<span>' + error.message + '</span>');
                        });
                        has_error = true
                    }
    
                    if (!has_error) {
                        load('ranking')
                        $('#process-student-modal').modal('hide');
                    }
                },
            });
        });
    })
</script>