<div class="row g-2 mb-2 ">
    <div id="MyButtons" class="d-flex mb-md-2 mb-lg-0 col-12 col-md-auto"></div>
    <div class="form-group col-12 col-sm-auto flex-sm-grow-1 flex-lg-grow-0 ms-lg-auto">
        <select name="student_type" id="student_type" class="form-select me-md-2">
            <option value="">All Type</option>
            <option value="Freshman">Freshman</option>
            <option value="Shiftee">Shiftee</option>
            <option value="Transferee">Transferee</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-auto flex-sm-grow-1 flex-lg-grow-0">
        <select name="prediction" id="prediction" class="form-select me-md-2">
            <option value="">All Prediction</option>
            <option value="Successful">Successful</option>
            <option value="Struggling">Struggling</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-auto flex-sm-grow-1 flex-lg-grow-0">
        <select name="program" id="program" class="form-select me-md-2">
            <option value="">All Program</option>
            {% for program in programs %}
            <option value="{{ program.code }}">{{ program.code }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group search-keyword col-12 flex-lg-grow-1">
        <input type="text" name="keyword" id="keyword" placeholder="Search Student" class="form-control">
        <button class="btn btn-outline-secondary background-color-green" type="button"><i class="fas fa-search white"></i></button>
    </div>
</div>
<table class="table table-hover responsive" id="table-waiting">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Rank No.</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Program</th>
            <th scope="col">CET OAPR</th>
            <th scope="col">SHS GPA</th>
            <th scope="col">Interview</th>
            <th scope="col">Total</th>
            <th scope="col">Prediction</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>
                <div class="action-button">
                    <a title="Update Student Application" class="me-2 green process-application" id="{{ application.program.id }}" data="{{ application.id }}"><i class="fa-solid fa-user-check"></i></a>
                    <a title="View Student Profile" class="me-2 green view-profile" data="{{ application.student.id }}" href="{% url 'view_student_profile' application.student.id %}" target="_blank"><i class="fa-solid fa-eye"></i></a>
                </div>
            </td>
            <td><i class="fa-solid fa-trophy me-2 green"> {{ forloop.counter }}</i></td>
            <td>{{ application.student.last_name }}, {{ application.student.first_name }} {{ application.student.middle_name }}</td>
            <td>{{ application.student.student_type_name|capfirst }}</td>
            <td>{{ application.program.code }}</td>
            <td>{{ application.student.collegeentrancetest_set.first.overall_percentile_rank }}</td>
            {% if application.student.student_type == 'new' %}
            <td>{{ application.student.schoolbackground_set.first.combined_gpa }}</td>
            {% else %}
            <td>Not Applicable</td>
            {% endif %}
            <td>{{ application.interviewlogs_set.first.score }}</td>
            <td>{{ application.total }}</td>
            {% if application.prediction == True %}
                <td><span class="table-successful">Successful</span></td>
            {% elif application.prediction == False %}
                <td><span class="table-struggling">Struggling</span></td>
            {% else %}
                <td>---</td>
            {% endif %}
            <td>{{ application.student.contactpoint_set.first.contact_email }}</td>
            <td>{{ application.student.contactpoint_set.first.contact_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="application-container"></div>
<script>
    $(document).ready(function(){
        
        $('span.pending-counter').text({{ pending_counter }})
        $('span.interview-counter').text({{ interview_counter }})
        $('span.ranking-counter').text({{ ranking_counter }})
        $('span.waiting-counter').text({{ waiting_counter }})
        $('span.qualified-counter').text({{ qualified_counter }})
        $('span.withdrawn-counter').text({{ withdrawn_counter }})

        dataTable = $("#table-waiting").DataTable({
            dom: 'Brtp',
            responsive: true,
            fixedHeader: true,
            pageLength: 10,
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    className: 'border-white',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                        header: true,
                    },
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
        
                        $('c[r="A1"] t', sheet).text('LIST OF STUDENTS IN THE WAITING LIST');
                        $('row:first c', sheet).attr('s','47');

                        $(sheet).find('c[r^="I"]').each(function () {
                            var cellValue = $('is t', this).text();
                            if (cellValue === 'Successful') {
                                $(this).attr('s', '20');
                            } else if (cellValue === 'Struggling') {
                                $(this).attr('s', '10');
                            }
                        });
        
                        var headerCells = $(sheet).find('worksheet > sheetData > row:nth-child(2) c');
                        headerCells.each(function () {
                            $(this).attr('s', '42');
                        });

                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',
                    className: 'border-white',
                    download: 'open',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                        header: true,
                    },
                    orientation: 'portrait',
                    pageSize: 'LEGAL',
                    customize: function (doc) {
                        doc.content.splice(0, 1);
                        var now = new Date();
                        var jsDate = (now.getMonth() + 1) + '-' + now.getDate() + '-' + now.getFullYear();
                        doc.pageMargins = [20, 60, 20, 30];
                        doc.defaultStyle.fontSize = 8;
                        doc.styles.tableHeader.fontSize = 8;
                        doc['header'] = function (currentPage, pageCount, pageSize) {
                            return {
                                columns: [
                                    {
                                        stack: [
                                            {
                                                alignment: 'left',
                                                text: 'List of Students in the Waiting List',
                                                fontSize: 16,
                                                bold: true,
                                                margin: [0, 5]
                                            },
                                        ],
                                        width: '*'
                                    },
                                    {
                                        alignment: 'right',
                                        text: 'Created on: ' + jsDate.toString(),
                                        width: '*'
                                    }
                                ],
                                margin: 20
                            };
                        };
                        doc['footer'] = function (currentPage, pageCount) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['page ', { text: currentPage.toString() }, ' of ', { text: pageCount.toString() }]
                                    }
                                ],
                                margin: 20
                            };
                        };
                        var objLayout = {};
                        objLayout['hLineWidth'] = function (i) { return .5; };
                        objLayout['vLineWidth'] = function (i) { return .5; };
                        objLayout['hLineColor'] = function (i) { return '#aaa'; };
                        objLayout['vLineColor'] = function (i) { return '#aaa'; };
                        objLayout['paddingLeft'] = function (i) { return 4; };
                        objLayout['paddingRight'] = function (i) { return 4; };
                        doc.content[0].layout = objLayout;
                    }
                }
            ],
        });
        dataTable.buttons().container().appendTo($('#MyButtons'));

        var table = dataTable;
        var filter = createFilter(table, [2,3,4,5,6,7,8,9,10,11]);

        function createFilter(table, columns) {
            var input = $('input#keyword').on("keyup", function() {
                table.draw();
            });
          
            $.fn.dataTable.ext.search.push(function(
                settings,
                searchData,
                index,
                rowData,
                counter
            ) {
                var val = input.val().toLowerCase();
            
                for (var i = 0, ien = columns.length; i < ien; i++) {
                    if (searchData[columns[i]].toLowerCase().indexOf(val) !== -1) {
                    return true;
                    }
                }
          
                return false;
            });
          
            return input;
        }

        $('select#student_type').on('change', function(e){
            var status = $(this).val();
            dataTable.columns([3]).search(status).draw();
        });
        $('select#prediction').on('change', function(e){
            var status = $(this).val();
            dataTable.columns([9]).search(status).draw();
        });
        $('select#program').on('change', function(e){
            var status = $(this).val();
            dataTable.columns([4]).search(status).draw();
        });
        $('.process-application').click(function(){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                application_id: $(this).attr('data'),
                program_id: $(this).attr('id'),
            };
            $.ajax({
                type: "POST",
                url: "{% url 'view_process_waitingstudent_modal' %}",
                data: formData,
                success: function(result)
                {
                    $('div.application-container').html(result);
                    $('#process-waitingstudent-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                    }).modal('show');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        });
    })
</script>