<div class="row g-2 mb-2 ">
    <div id="MyButtons" class="d-flex mb-md-2 mb-lg-0 col-12 col-md-auto"></div>
    <div class="form-group col-12 col-sm-auto flex-sm-grow-1 flex-lg-grow-0 ms-lg-auto">
        <select name="student_type" id="student_type" class="form-select me-md-2">
            <option value="">All Type</option>
            <option value="Freshman">Freshman</option>
            <option value="Shiftee">Shiftee</option>
            <option value="Transferee">Transferee</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-auto flex-sm-grow-1 flex-lg-grow-0">
        <select name="program" id="program" class="form-select me-md-2">
            <option value="">All Program</option>
            {% for program in programs %}
            <option value="{{ program.code }}">{{ program.code }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group search-keyword col-12 flex-lg-grow-1">
        <input type="text" name="keyword" id="keyword" placeholder="Search Student" class="form-control">
        <button class="btn btn-outline-secondary background-color-green" type="button"><i class="fas fa-search white"></i></button>
    </div>
</div>
<table class="table table-hover responsive" id="table-withdrawn">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Program</th>
            <th scope="col">CET OAPR</th>
            <th scope="col">SHS GPA</th>
            <th scope="col">Interview</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>
                <div class="action-button">
                    <a title="View Student Profile" class="me-2 green view-profile" data="{{ application.student.id }}" href="{% url 'view_student_profile' application.student.id %}" target="_blank"><i class="fa-solid fa-eye"></i></a>
                </div>
            </td>
            <td>{{ application.student.last_name }}, {{ application.student.first_name }} {{ application.student.middle_name }}</td>
            <td>{{ application.student.student_type_name|capfirst }}</td>
            <td>{{ application.program.code }}</td>
            <td>{{ application.student.collegeentrancetest_set.first.overall_percentile_rank }}</td>
            <td>{{ application.student.schoolbackground_set.first.combined_gpa }}</td>
            <td>{{ application.interviewlogs_set.first.score }}</td>
            <td>{{ application.student.contactpoint_set.first.contact_email }}</td>
            <td>{{ application.student.contactpoint_set.first.contact_number }}</td>
            <td>{{ application.applicationstatuslogs_set.first.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="application-container"></div>
<script>
    $(document).ready(function(){
        
        $('span.pending-counter').text({{ pending_counter }})
        $('span.interview-counter').text({{ interview_counter }})
        $('span.ranking-counter').text({{ ranking_counter }})
        $('span.waiting-counter').text({{ waiting_counter }})
        $('span.qualified-counter').text({{ qualified_counter }})
        $('span.withdrawn-counter').text({{ withdrawn_counter }})

        dataTable = $("#table-withdrawn").DataTable({
            dom: 'Brtp',
            responsive: true,
            fixedHeader: true,
            pageLength: 10,
            buttons: [
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: 'border-white'
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'border-white'
                },
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'border-white'
                }
            ],
        });
        dataTable.buttons().container().appendTo($('#MyButtons'));

        var table = dataTable;
        var filter = createFilter(table, [1,2,3,4,5,6,7,8,9]);

        function createFilter(table, columns) {
            var input = $('input#keyword').on("keyup", function() {
                table.draw();
            });
          
            $.fn.dataTable.ext.search.push(function(
                settings,
                searchData,
                index,
                rowData,
                counter
            ) {
                var val = input.val().toLowerCase();
            
                for (var i = 0, ien = columns.length; i < ien; i++) {
                    if (searchData[columns[i]].toLowerCase().indexOf(val) !== -1) {
                    return true;
                    }
                }
          
                return false;
            });
          
            return input;
        }

        $('select#student_type').on('change', function(e){
            var status = $(this).val();
            dataTable.columns([2]).search(status).draw();
        });
        $('select#program').on('change', function(e){
            var status = $(this).val();
            dataTable.columns([3]).search(status).draw();
        });
    })
</script>