<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.html' %}

<body>
    <!-- Header -->
    {% include 'partials/topnav.html' %}

    {% if application %}
        {% if application.status == 'pending' %}
            {% include 'student/my-application/pending.html' %}
        {% elif application.status == 'cancelled' %}
            {% include 'student/my-application/cancelled.html' %}
        {% elif application.status == 'returned' %}
            {% include 'student/my-application/returned.html' %}
        {% elif application.status == 'verified' %}
            {% include 'student/my-application/interview.html' %}
        {% endif %}
    {% else %}
        {% include 'student/my-application/no-application.html' %}
    {% endif %}

  
</body>
</html>