<!-- Main -->
<div class="container-fluid main-container">
    <div class="container-no-application">
        <main class="col-md-10 mx-md-auto mb-md-5 p-4 pt-2 pt-md-4">
            <div class="row g-3">
                <div class="col-12 text-center mb-md-4 mt-4">
                    <h4 class="fw-bold text-center green">No Application has been found.</h4>
                    <h5>Go back to <a class="color-green" href="{% url 'home' %}">home</a> to apply</h5>
                </div>
            </div>
        </main>
    </div>
</div>