<!-- Modal -->
<div class="modal fade" id="modal-admission-period" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Admission Period</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" name="add-admission-period" id="add-admission-period">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="start_date" class="form-label">Start Date<span class="text-muted"> (DD-MM-YYYY)</span></label>
                            <input type="date" class="form-control" id="start_date" placeholder="" name="start_date" value="{{ period.start_date|default_if_none:'' }}">
                            <div class="invalid-feedback d-none start_date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="end_date" class="form-label">End Date<span class="text-muted"> (DD-MM-YYYY)</span></label>
                            <input type="date" class="form-control" id="end_date" placeholder="" name="end_date" value="{{ period.end_date|default_if_none:'' }}">
                            <div class="invalid-feedback d-none end_date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Save Admission Period" name="save_admission_period" id="save_admission_period" class="btn btn-primary background-color-green">Save Admission Period</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('div.modal').modal({
            backdrop: 'static',
            keyboard: false
        });

        $('form#add-admission-period').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: 'POST',
                url: "{% url 'add_admission_period' %}",
                data: formData,
                processData: false,
                contentType: false,

                success: function(data) {
                    var errors = JSON.parse(data);
                    has_error = false;
    
                    $('div.start_date').empty().removeClass('d-block');
                    $('#start_date').removeClass('is-invalid');
                    $('div.end_date').empty().removeClass('d-block');
                    $('#end_date').removeClass('is-invalid');
    
                    if (errors.start_date) {
                        $('#start_date').addClass('is-invalid');
                        $('div.start_date').removeClass('d-none');
                        $('div.start_date').addClass('d-block');
                        $.each(errors.start_date, function(index, error) {
                            $('div.start_date').append('<span>' + error.message + '</span>');
                        });
                        has_error = true
                    }

                    if (errors.end_date) {
                        $('#end_date').addClass('is-invalid');
                        $('div.end_date').removeClass('d-none');
                        $('div.end_date').addClass('d-block');
                        $.each(errors.end_date, function(index, error) {
                            $('div.end_date').append('<span>' + error.message + '</span>');
                        });
                        has_error = true
                    }
    
                    if (!has_error) {
                        view_period()
                        $('#modal-admission-period').modal('hide');
                    }else{
                        console.log(data)
                    }
                },
            });
        });
        function clearAdmissionPeriodFormFields() {
            $('#start_date').val('{{ period.start_date|default_if_none:'' }}');
            $('#end_date').val('{{ period.end_date|default_if_none:'' }}');

            $('div.start_date').empty().removeClass('d-block');
            $('#start_date').removeClass('is-invalid');
            $('div.end_date').empty().removeClass('d-block');
            $('#end_date').removeClass('is-invalid');
        }
        $('#modal-admission-period').on('hidden.bs.modal', function () {
            clearAdmissionPeriodFormFields();
        });        
    });
</script>