{% load static %}

<header class="navbar navbar-expand-md navbar-dark sticky-top background-color-green-visible shadow-sm py-0">
    <div class="container-fluid p-0 pe-3 pe-md-0">
        <a class="navbar-brand col-md-3 col-lg-3 col-xl-2 me-0 px-3 py-3 background-color-green" href="{% url 'home' %}">
            <img class="logo-icon" src="{% static 'img/greenscreen_logo.png' %}" alt="">
            <span class="ms-2 logo-name">GreenScreen</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        <div class="dropdown text-end me-3 d-none d-md-block">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user color-green"></i>
            </a>
            <ul class="dropdown-menu text-small dropdown-user">
                <li><a class="dropdown-item" id="user-profile">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="user-container"></div>
<script>
    $(document).ready(function(){
        $('#user-profile').click(function(){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                url: "{% url 'view_profile_modal' %}",
                type: 'POST',
                data: formData,
                success: function(data) {
                    $('.user-container').html(data);
                    $('#user-profile-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                      }).modal('show');
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        })
    });
</script>