{% load static %}
{% load socialaccount %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-color-green">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="logo-icon" src="{% static 'img/greenscreen_logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home" id="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#academics" id="academics">Academics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#admissions" id="admissions">Admissions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#faculty" id="faculty">Faculty</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item d-md-none">
                <a class="nav-link" href="{% url 'signin' %}" id="signin">Sign in</a>
            </li>
            {% endif %}
          </ul>
          {% if not user.is_authenticated %}
          <a href="{% url 'signin' %}" class="d-none d-md-block"><button class="btn btn-outline-success btn-login">Sign in</button></a>
          {% endif %}          
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown text-end me-3 d-none d-md-block">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              {% if profile.picture %}
                  <img src="{{ profile.picture }}" alt="photo" width="32" height="32" class="rounded-circle">
              {% else %}
              <i class="fa-solid fa-circle-user"></i>
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small dropdown-user">
                <li><a class="dropdown-item" href="../student/myapplication.php">My Application</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'signout' %}">Sign out</a></li>
            </ul>
        </div>
        {% endif %}
      </div>
    </nav>
</header>