<div class="modal fade justify-content-center" id="apply-admission-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header background-color-green">
                <h5 class="modal-title color-white">{{program.code|upper}} Application</h5>
                <button type="button" class="btn-close white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" name="application-form" id="application-form">
                <div class="modal-body">
                    <input type="hidden" name="program_name" value="{{program.name}}">
                    <p class="my-4 text-center"><i class="fa-solid fa-paper-plane color-green" style="font-size: 45px;"></i></p>
                    {% if ongoing_application %}
                    <p class="text-center message">
                        You have an on-going application. <a class="color-green" href="{% url 'my_application' %}">View My Application</a>.
                    </p>
                    {% elif is_admitted %}
                    <p class="text-center message">
                        No need to apply. You are already admitted.
                    </p>
                    {% elif invalid_application %}
                    <p class="text-center message">
                        You have already applied for the <b>{{program.name}}</b> program, and your application has been <span class="color-orange">{{invalid_application.status}}</span>.
                        You may choose another program or <a class="color-green" href="{% url 'my_application' invalid_application.id %}">View My Previous Application</a>.
                    </p>                    
                    {% elif not period_allowed %}
                    <p class="text-center message">
                        Unfortunately, the admission period for <b>{{program.name}}</b> has already ended.
                    </p>
                    {% elif cet_criteria.score > student_cet.overall_percentile_rank %}
                    <p class="text-center message">
                        Unfortunately, you do not meet the qualifications. The minimum CET OAPR for <b>{{program.name}}</b> is <b>{{cet_criteria.score}}</b>.
                    </p>
                    {% elif slot_taken > quota.number %}
                    <p class="text-center message">
                        Unfortunately, there are no more slots available for <b>{{program.name}}</b>.
                    </p>
                    {% else %}
                    <p class="text-center message">
                        You are applying for <b>{{program.name}}</b>. Click <b class="color-green">Send Application</b> to confirm.
                    </p>
                    {% endif %}                    
                </div>
                <div class="modal-footer">
                    {% if ongoing_application or is_admitted or invalid_application or not period_allowed or cet_criteria.score > student_cet.overall_percentile_rank or slot_taken > quota.number %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% else %}
                    <a class="btn btn-lg btn-success background-color-green btn-apply btn-font mx-auto save-button" id="send_application">Send Application</a>
                    {% endif %}
                    <button class="btn btn-lg btn-success background-color-green btn-apply btn-font mx-auto saving-button" type="button" disabled style="display:none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending Application...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#send_application').click(function() {
            $('.saving-button').show()
            $('.save-button').hide()
            var formData = {
                program_id: '{{ program.id }}',
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: 'POST',
                url: "{% url 'send_application' %}",
                data: formData,
                success: function(data) {
                    window.location.href = "{% url 'my_application' %}";
                },
            });
        });  
    });
</script>