{% extends 'admission/admin.html' %}

{% load static %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 p-md-4">
    <div class="w-100">
        <h5 class="col-12 fw-bold mb-3 mt-3 mt-md-0">Applications</h5>
        <ul class="nav nav-tabs application">
            <li class="nav-item active" id="li-pending">
                <a class="nav-link">Pending <span class="counter pending-counter">{{ pending_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-interview">
                <a class="nav-link">Interview <span class="counter interview-counter">{{ interview_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-ranking">
                <a class="nav-link">Ranking <span class="counter ranking-counter">{{ ranking_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-waiting">
                <a class="nav-link">Waiting List <span class="counter waiting-counter">{{ waiting_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-qualified">
                <a class="nav-link">Qualified <span class="counter qualified-counter">{{ qualified_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-withdrawn">
                <a class="nav-link">Withdrawn <span class="counter withdrawn-counter">{{ withdrawn_counter|default_if_none:'0' }}</span></a>
            </li>
            <li class="nav-item" id="li-all">
                <a class="nav-link">All</a>
            </li>
        </ul>
        <div class="table-responsive py-3 table-container">

        </div>
    </div>
</main>
<script>
    function load(status){
        if(status == 'pending'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'pending_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'interview'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'interview_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'ranking'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'ranking_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'qualified'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'qualified_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'all'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'all_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'waiting'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'waiting_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }else if(status == 'withdrawn'){
            var formData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };
            $.ajax({
                type: "POST",
                url: "{% url 'withdrawn_application' %}",
                data: formData,
                success: function(result)
                {
                    $('div.table-responsive').html(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }  
            });
        }
    }
    $(document).ready(function(){
        load('pending');

        $('ul.application .nav-item').on('click', function(){
            $('ul.application .nav-item').removeClass('active');
            $(this).addClass('active');
        });

        $('#li-pending').on('click', function(){
            load('pending');
        });

        $('#li-interview').on('click', function(){
            load('interview');
        });

        $('#li-ranking').on('click', function(){
            load('ranking');
        });

        $('#li-waiting').on('click', function(){
            load('waiting');
        });

        $('#li-qualified').on('click', function(){
            load('qualified');
        });

        $('#li-withdrawn').on('click', function(){
            load('withdrawn');
        });

        $('#li-all').on('click', function(){
            load('all');
        });

    });
</script>

{% endblock content %}