{% extends 'admission/admin.html' %}

{% load static %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 p-md-4 mt-3 mt-md-0">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 align-items-stretch">
        <div class="col d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Pending Applications</h5>
                    <p class="card-text card-text-number"><span class="status-pending p-2">{{ pending_counter }}</span></p>
                    <p class="mb-0">
                        <a class="view-all" href="{% url 'view_application' %}">Review Now</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Approved Applications</h5>
                    <p class="card-text card-text-number"><span class="status-qualified p-2">{{ qualified_counter }}</span></p>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="{% url 'view_application' %}">View All</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Declined Applications</h5>
                    <p class="card-text card-text-number"><span class="status-declined p-2">{{ declined_counter }}</span></p>
                    <p class="mb-0">
                        <a class="view-all" href="{% url 'view_application' %}">View All</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Total Applications</h5>
                    <p class="card-text card-text-number"><span class="status-withdrawn p-2">{{ all_counter }}</span></p>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="{% url 'view_application' %}">View All</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-stretch">
        <div class="col-12 col-md-4 my-4 d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Total Predictions<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Predictions of Approved Students"><i class="fa fa-info-circle"></i></span></h5>
                    <canvas id="status-chart-1"></canvas>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="">View Report</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 mb-4 mt-0 d-flex flex-column mt-md-4">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">Prediction VS Actual<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Comparison of Prediction VS Actual of Approved Students"><i class="fa fa-info-circle"></i></span></h5>
                    <canvas id="status-chart-2"></canvas>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="">View Report</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-stretch">
        <div class="col-12 col-md-6 mb-4 d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">CET OAPR<span class="text-muted ms-1" data-bs-toggle="tooltip" title="CET OAPR of Approved Students"><i class="fa fa-info-circle"></i></span></h5>
                    <canvas id="myChart"></canvas>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="">View Report</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mt-0 d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title card-title-total">SHS GPA<span class="text-muted ms-1" data-bs-toggle="tooltip" title="SHS GPA of Approved Students"><i class="fa fa-info-circle"></i></span></h5>
                    <canvas id="status-chart-3"></canvas>
                    <p class="mb-0 mt-auto">
                        <a class="view-all" href="">View Report</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="col-12 fw-bold mb-1 mt-3 mt-md-0 color-green">10 Most Recent (Latest) Approved Applications</h5>
        <div class="table-responsive">
            <table class="table table-hover responsive" id="table-dashboard-student">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Program</th>
                        <th scope="col">CET OAPR</th>
                        <th scope="col">SHS GPA</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Application Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{ application.last_name }}, {{ application.first_name }} {{ application.middle_name }}</td>
                        <td>{{ application.student_type_name|capfirst }}</td>
                        <td>{{ application.admissionapplication_set.first.program.code }}</td>
                        <td>{{ application.collegeentrancetest_set.first.overall_percentile_rank }}</td>
                        <td>{{ application.schoolbackground_set.first.combined_gpa }}</td>
                        <td>{{ application.contactpoint_set.first.contact_email }}</td>
                        <td>{{ application.contactpoint_set.first.contact_number }}</td>
                        <td>{{ application.admissionapplication_set.first.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
    $(document).ready(function() {
        var table = $('#table-dashboard-student').DataTable({
            ordering: false,
            responsive: true,
            fixedHeader: true,
            "dom": 'rt'
        });
        
        // Pie
        var statusChart = new Chart(document.getElementById('status-chart-1'), {
            type: 'doughnut',
            data: {
            labels: ['Will Succeed', 'Will Struggle'],
                datasets: [{
                    data: ['{{will_succeed}}', '{{will_struggle}}'],
                    backgroundColor: ['#3A98B9', '#EB455F'],
                }]
                },
            options: {
                responsive: true,
                maintainAspectRatio: true
            }
        });

        // CET Line Graph
        var data = {
            labels: ['41-50', '51-60', '61-70', '71-80', '81-90', '91-100'],
            {% if request.user.is_superuser %}
            datasets: [
              {
                label: 'BSCS',
                data: [
                  {% for range_str, count in bscs_cet_counters.items %}
                    {{ count }},
                  {% endfor %}
                ],
                borderColor: '#3A98B9',
                fill: false
              },
              {
                label: 'BSIT',
                data: [
                  {% for range_str, count in bsit_cet_counters.items %}
                    {{ count }},
                  {% endfor %}
                ],
                borderColor: '#0E8388',
                fill: false
              }
            ]
            {% elif faculty_user.department.code == 'BSCS' %}
            datasets: [
              {
                label: 'BSCS',
                data: [
                  {% for range_str, count in bscs_cet_counters.items %}
                    {{ count }},
                  {% endfor %}
                ],
                borderColor: '#3A98B9',
                fill: false
              }
            ]
            {% elif faculty_user.department.code == 'BSIT' %}
            datasets: [
              {
                label: 'BSIT',
                data: [
                  {% for range_str, count in bsit_cet_counters.items %}
                    {{ count }},
                  {% endfor %}
                ],
                borderColor: '#0E8388',
                fill: false
              }
            ]
            {% endif %}
          };          

        // Get the canvas element
        var ctx = document.getElementById('myChart').getContext('2d');
        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    x: {
                        title: {
                        display: true,
                        text: 'CET OAPR'
                        }
                    },
                    y: {
                        title: {
                        display: true,
                        text: 'No. of Students'
                        }
                    }
                }
            }
        });

        //Bar Graph
        var statusChart = new Chart(document.getElementById('status-chart-2'), {
            type: 'bar',
            data: {
            labels: ['Successful (Predicted)', 'Successful (Actual)', 'Struggling (Predicted)', 'Struggling (Actual)'],
                    datasets: [{
                        label: 'Predicted VS Actual',
                        data: ['{{will_succeed}}', '{{actual_successful}}', '{{will_struggle}}', '{{actual_struggling}}'],
                        backgroundColor: ['#3A98B9', '#3E54AC', '#EB455F', '#EB4747'],
                    }]
                },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    x: {
                        title: {
                        display: true,
                        text: ''
                        }
                    },
                    y: {
                        title: {
                        display: true,
                        text: 'No. of Students'
                        }
                    }
                }
            }
        });
 
        //SHS GPA Line Graph
        // Define your data
        var data = {
            labels: ['75-80', '81-85', '86-90', '91-95', '96-100'],
            {% if request.user.is_superuser %}
            datasets: [
                {
                    label: 'BSCS',
                    data: [
                    {% for range_str, count in bscs_gpa_counters.items %}
                        {{ count }},
                    {% endfor %}
                    ],
                    borderColor: '#3A98B9',
                    fill: false
                },
                {
                    label: 'BSIT',
                    data: [
                    {% for range_str, count in bsit_gpa_counters.items %}
                        {{ count }},
                    {% endfor %}
                    ],
                    borderColor: '#0E8388',
                    fill: false
                }
            ]
            {% elif faculty_user.department.code == 'BSCS' %}
            datasets: [
                {
                    label: 'BSCS',
                    data: [
                    {% for range_str, count in bscs_gpa_counters.items %}
                        {{ count }},
                    {% endfor %}
                    ],
                    borderColor: '#3A98B9',
                    fill: false
                }
            ]
            {% elif faculty_user.department.code == 'BSIT' %}
            datasets: [
                {
                    label: 'BSIT',
                    data: [
                    {% for range_str, count in bsit_gpa_counters.items %}
                        {{ count }},
                    {% endfor %}
                    ],
                    borderColor: '#0E8388',
                    fill: false
                }
            ]
            {% endif %}
        };

        // Get the canvas element
        var ctx = document.getElementById('status-chart-3').getContext('2d');
        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    x: {
                        title: {
                        display: true,
                        text: 'SHS GPA'
                        }
                    },
                    y: {
                        title: {
                        display: true,
                        text: 'No. of Students'
                        }
                    }
                }
            }
        });

    });
</script>

{% endblock content %}