{% extends 'admission/admin.html' %}

{% load static %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 p-md-4 settings">
    <div class="w-100">
        <div class="row g-2 mt-1">
            <h5 class="col-12 fw-bold mb-3 mt-3 mt-md-0">School Year & Admission Period</h5>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="active_school_year" class="form-label">Active School Year<span class="text-muted"></span></label>
                    {% if request.user.is_superuser or faculty_user.admission_role.id == 1 %}
                    <a class="edit-toggle color-green" type="button" title="Update School Year" data-bs-toggle="modal" data-bs-target="#modal-school-year"><i class="fa-regular fa-pen-to-square"></i></a>
                    {% endif %}
                </div>
                <input type="text" disabled="true" class="form-control" value="{{ sy.concat_year|default_if_none:'' }}" id="active_school_year">
            </div>
            {% include 'admission/partials/school_year.modal.html' %}
            <div class="col-12 col-md-4 col-lg-3" id="period-container">
                {% comment %} View Quota {% endcomment %}
            </div>
            <div class="m-0 row g-2 p-0" id="quota-container">
                {% comment %} View Quota {% endcomment %}
            </div>
            <div class="col-12 col-md-8 col-lg-6 mt-0" id="auto-container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="col-auto">
                      <h5 class="fw-bold mt-4 mb-1">Automation Settings</h5>
                    </div>
                    <div class="col-auto">
                      <a class="edit-toggle color-green mt-4" type="button" title="Update Automation Settings" id="update_auto_settings"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a class="color-green mt-4" type="button" title="Save Automation Settings" id="save_auto_settings" style="display: none;"><i class="fa-regular fa-square-check"></i></a>
                    </div>
                  </div>
                {% for auto in autos %}
                    {% if request.user.is_superuser %}
                    <div class="form-check form-switch col-12 col-md-12">
                        <input class="form-check-input form-control auto-toggle" type="checkbox" data-code="{{ auto.code }}" id="auto_{{ auto.code|upper }}" name="auto_{{ auto.code|upper }}" {% if auto.autoadmissions.0.automate %}checked{% endif %} disabled>
                        <label class="form-check-label form-label" for="auto_{{ auto.code|upper }}">Automate Admission Decision for {{ auto.code|upper }}</label>
                    </div>
                    {% elif faculty_user.admission_role.id == 1 and faculty_user.department == auto %}
                    <div class="form-check form-switch col-12 col-md-12">
                        <input class="form-check-input form-control auto-toggle" type="checkbox" data-code="{{ auto.code }}" id="auto_{{ auto.code|upper }}" name="auto_{{ auto.code|upper }}" {% if auto.autoadmissions.0.automate %}checked{% endif %} disabled>
                        <label class="form-check-label form-label" for="auto_{{ auto.code|upper }}">Automate Admission Decision for {{ auto.code|upper }}</label>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 m-0">
                <hr class="my-4 mx-auto w-">
            </div>
            <div class="m-0 row g-2 p-0" id="interview-container">
                {% comment %} View Interview {% endcomment %}
            </div>
            <div class="m-0 row g-2 p-0" id="criteria-container">
                {% comment %} View Criteria {% endcomment %}
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function(){
        view_period()
        view_quota()
        view_interview_slot()
        view_criteria()
        $('div.modal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#update_auto_settings').click(function(){
            $('#update_auto_settings').hide();
            $('#save_auto_settings').show();
            $('#auto-container .form-check-input').attr('disabled', false);
        });
        $('#save_auto_settings').click(function(){
            $('#update_auto_settings').show();
            $('#save_auto_settings').hide();
            $('#auto-container .form-check-input').each(function() {
                $(this).prop('disabled', true);
                var automateValue = $(this).prop('checked') ? 'true' : '';
                
                var formData = {
                    program_code: $(this).data('code'),
                    automate: automateValue,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                };
                
                $.ajax({
                    url: "{% url 'add_auto' %}",
                    type: 'POST',
                    data: formData,
                    success: function(data) {
                        console.log(data);
                    },
                });
            });            
        });

    });
    function view_period(){
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        $.ajax({
            url: "{% url 'view_period' %}",
            type: 'POST',
            data: formData,
            success: function(data) {
                $('#period-container').html(data);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    function view_quota(){
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        $.ajax({
            url: "{% url 'view_quota' %}",
            type: 'POST',
            data: formData,
            success: function(data) {
                $('#quota-container').html(data);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    function view_interview_slot(){
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        $.ajax({
            url: "{% url 'view_interview_slot' %}",
            type: 'POST',
            data: formData,
            success: function(data) {
                $('#interview-container').html(data);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    function view_criteria(){
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        $.ajax({
            url: "{% url 'view_criteria' %}",
            type: 'POST',
            data: formData,
            success: function(data) {
                $('#criteria-container').html(data);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>

{% endblock content %}