{% extends 'student/main.html' %}

{% load static %}

{% block content %}

    <main class="py-md-4">
        <div class="container-fluid d-flex align-items-md-center justify-content-md-center">
            <div class="container-fluid sign-in p-sm-5">
                {% if success_message %}
                    <div class="alert alert-{{ success_message.level }} alert-dismissible fade show" role="alert">
                        {{ success_message.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fa-solid fa-envelope-open-text green"></i>
                    </div>
                    <div class="col-12 mt-3">
                        <h2 class="fw-bold text-center green">Update your password</h2>
                    </div>
                    <div class="col-12 text-center">
                        <p class="text-center">
                            Enter your email address and click <span class="fw-bold">Send Email</span>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <form class="needs-validation" method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="email" class="form-label">Email Address<span class="text-muted"></span></label>
                                    <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}" required>
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback d-block">
                                            {% for error in form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 text-center">
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <div class="col-12 g-recaptcha text-center" data-sitekey="{{ settings.RECAPTCHA_PUBLIC_KEY }}">
                                    </div>
                                </div>
                                <div class="col-12 pt-2 mb-3">
                                    <button class="btn btn-lg btn-success background-color-green btn-continue btn-font save-button" type="submit">Send Email</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <p class="text-center">
                        Go back to <a class="green" href="{% url 'signin' %}">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function(){
            $('form').submit(function() {
                $('.save-button').prop('disabled', true);
            });
        })
    </script>

{% endblock content %}