{% extends 'student/main.html' %}

{% load static %}

{% block content %}

<main class="py-md-4">
    {% include template_name %}
</main>

<script>
    $(document).ready(function(){
        let link = '';
        $('.card-1').on('click', function(){
            $('.card-1').addClass('card-hover');
            $('.card-2').removeClass('card-hover');
            link = '?student=new';
        });
        $('.card-2').on('click', function(){
            $('.card-2').addClass('card-hover');
            $('.card-1').removeClass('card-hover');
            link = '?student=old';
        });
        $('a#choose').on('click', function(e){
            if(link == ''){
                setTimeout(function ()
                    { $('div.card').toggleClass('active'); 
                }, 1500);
                $('div.card').toggleClass('active')
            }else{
                window.location.href = link;
            }
        });
    });
</script>

{% endblock content %}


