{% load static %}
<div id='shs' class="col-12 col-md-11 profile-screen mt-0 mt-md-3 mx-auto" style="display:none;">
    <div class="mt-3 mt-md-0">
        <div class="card-profile p-4 mt-3 d-block">
            <div class="row">
                <h5 class="col-12 fw-bold mb-3">Additional Student Information</h5>
                <form class="needs-validation" action="" method="post" name="college" id="college">
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label">Student Type</label>
                            <div class="col-12 rb-container">
                                <div class="form-check d-sm-inline-block me-sm-3">
                                    <input class="form-check-input" type="radio" id="freshman" name="student_type_name" value="freshman" {% if school.student_type_name == 'freshman' %}checked{% endif %}>
                                    <label class="form-check-label" for="freshman">Incoming College Student</label>
                                </div>
                                <div class="form-check d-sm-inline-block me-sm-3">
                                    <input class="form-check-input" type="radio" id="shiftee" name="student_type_name" value="shiftee" {% if school.student_type_name == 'shiftee' %}checked{% endif %}>
                                    <label class="form-check-label" for="shiftee">Shiftee</label>
                                </div>
                                <div class="form-check d-sm-inline-block me-sm-3">
                                    <input class="form-check-input" type="radio" id="transferee" name="student_type_name" value="transferee" {% if school.student_type_name == 'transferee' %}checked{% endif %}>
                                    <label class="form-check-label" for="transferee">Transferee</label>
                                </div>
                                <div class="invalid-feedback d-none student_type_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="last-school" class="form-label">Last School Attended</label>
                            <input type="text" class="form-control" id="last_school_attended" name="last_school_attended" placeholder="" value="{{ school.last_school_attended|default_if_none:'' }}" disabled>
                            <div class="invalid-feedback d-none last_school_attended">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="last-course" class="form-label">Course (Complete Name)</label>
                            <input type="text" class="form-control" id="last_course_attended" name="last_course_attended" placeholder="e.g. BS Accountancy" value="{{ school.last_course_attended|default_if_none:'' }}" disabled>
                            <div class="invalid-feedback d-none last_course_attended">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-profile p-4 mt-3">
            <div class="row">
                <h5 class="col-12 fw-bold mb-3">Senior High School Background</h5>
                <form class="needs-validation" action="{% url 'complete_school_background' %}" method="post" name="shs" id="shs">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="strand" class="form-label">Strand/Track<span class="text-muted"></span></label>
                            <select class="form-control form-select" id="strand" placeholder="" name="strand">
                                <option value="">--Select--</option>
                                {% for strand in strands %}
                                    {% if school.strand == strand.code %}
                                        <option value="{{ strand.code }}" selected>{{ strand.name }}</option>
                                    {% else %}
                                        <option value="{{ strand.code }}">{{ strand.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback d-none strand">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="high_school_name" class="form-label">High School Name<span class="text-muted"></span></label>
                            <input class="form-control" id="high_school_name" placeholder="" name="high_school_name" value="{{ school.high_school_name|default_if_none:'' }}">
                            <div class="invalid-feedback d-none high_school_name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="class_rank" class="form-label">Class Rank<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Your class rank in Grade 12."><i class="fa fa-info-circle"></i></span></span></label>
                            <select class="form-control form-select" id="class_rank" placeholder="" name="class_rank">
                                <option value="">--Select--</option>
                                {% for rank in ranks %}
                                    {% if school.class_rank == rank.name %}
                                        <option value="{{ rank.name }}" selected>{{ rank.name }}</option>
                                    {% else %}
                                        <option value="{{ rank.name }}">{{ rank.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback d-none class_rank">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="academic_awards_received" class="form-label">Academic Awards Received<span class="text-muted"></span></label>
                            <select class="form-control form-select" id="academic_awards_received" placeholder="" name="academic_awards_received">
                                <option value="">--Select--</option>
                                {% for award in awards %}
                                    {% if school.academic_awards_received == award.name %}
                                        <option value="{{ award.name }}" selected>{{ award.name }}</option>
                                    {% else %}
                                        <option value="{{ award.name }}">{{ award.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback d-none academic_awards_received">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="classroom_organization" class="form-label">Classroom Organization<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Your membership in the classroom organization in Grade 12."><i class="fa fa-info-circle"></i></span></label>
                            <select class="form-control form-select" id="classroom_organization" placeholder="" name="classroom_organization">
                                <option value="">--Select--</option>
                                {% for position in class_positions %}
                                    {% if school.classroom_organization == position.name %}
                                        <option value="{{ position.name }}" selected>{{ position.name }}</option>
                                    {% else %}
                                        <option value="{{ position.name }}">{{ position.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback d-none classroom_organization">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="student_supreme_government" class="form-label">Student Supreme Government<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Your highest membership in the Student Supreme Council/Government."><i class="fa fa-info-circle"></i></span></label>
                            <select class="form-control form-select" id="student_supreme_government" placeholder="" name="student_supreme_government">
                                <option value="">--Select--</option>
                                {% for ssc in ssg %}
                                    {% if school.student_supreme_government == ssc.name %}
                                        <option value="{{ ssc.name }}" selected>{{ ssc.name }}</option>
                                    {% else %}
                                        <option value="{{ ssc.name }}">{{ ssc.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback d-none student_supreme_government">
                            </div>
                        </div>
                        <h5 id="shs_report_h5" class="col-12 fw-bold my-4 mb-1">SHS Report Card</h5>
                        <div class="col-sm-6">
                            <label for="gpa_first_semester" class="form-label">General Point Average (1st Semester)<span class="text-muted ms-1" data-bs-toggle="tooltip" title="If not available, leave it blank."><i class="fa fa-info-circle"></i></span></label>
                            <input type="number" class="form-control" id="gpa_first_semester" placeholder="" name="gpa_first_semester" step="any" value="{{ school.gpa_first_semester|default_if_none:'' }}">
                            <div class="invalid-feedback d-none gpa_first_semester">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="gpa_second_semester" class="form-label">General Point Average (2nd Semester)<span class="text-muted ms-1" data-bs-toggle="tooltip" title="If not available, leave it blank."><i class="fa fa-info-circle"></i></span></label>
                            <input type="number" class="form-control" id="gpa_second_semester" placeholder="" name="gpa_second_semester" step="any" value="{{ school.gpa_second_semester|default_if_none:'' }}">
                            <div class="invalid-feedback d-none gpa_second_semester">
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="upload-cet" class="form-label">Photo or scanned copy of <span id="shs_report_label">SHS Report Card</span> (Accepted files: jpg, jpeg, png)<span class="text-muted ms-1" data-bs-toggle="tooltip" title="Make sure your name and grades are visible."><i class="fa fa-info-circle"></i></span></label>
                            <div class="card-profile p-4 justify-content-center upload-container upload-container-shs" {% if school.photo_grade %} style="background-image: url({{ school.photo_grade.url }}); background-color: #5a5a5a" {% endif %}>
                                <input class="upload-cet custom-file-input d-none" type="file" name="photo_grade" id="photo_grade" accept="image/*">
                                <a class="btn btn-outline-secondary custom-btn" id="upload_shs_card">Upload <span id="shs_card_button_name">SHS Report Card</span> Photo</a>
                                <a class="btn btn-outline-secondary custom-btn edit-upload-photo" id="edit_upload_shs"><i class="fa-solid fa-pen"></i></a>
                            </div>
                            <div class="invalid-feedback d-none photo_grade text-center">
                            </div>
                        </div>
                        <div class="col-12 m-0">
                            <hr class="my-4 mx-auto w-">
                        </div>
                        <div class="col-6 text-start m-0">
                            <a class="btn btn-lg btn-success btn-font w-100 back-button m-0" name="shs" id="shs">
                                <i class="fa-solid fa-arrow-left-long pe-1"></i>
                                Back
                            </a>
                        </div>
                        <div class="col-6 text-end m-0">
                            <button class="btn btn-lg btn-success background-color-green w-100 next-button btn-font m-0" type="submit" value="Next" name="shs" id="shs">
                                Next
                                <i class="ps-1 fa-solid fa-arrow-right-long"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
          
        $("#freshman").on('click', function(){
            $("#last_school_attended").val('')
            $("#last_school_attended").attr('disabled', true)
            $("#last_course_attended").attr('disabled', true)
            $('#shs_report_h5').text('SHS Report Card')
            $('#shs_report_label').text('SHS Report Card')
            $('#shs_card_button_name').text('SHS Report Card')
            
            $('#last_course_attended').val('')
        });

        $("#shiftee").on('click', function(){
            $("#last_school_attended").val('Western Mindanao State University')
            $("#last_school_attended").attr('disabled', true)
            $("#last_course_attended").attr('disabled', false)
            $('#shs_report_h5').text('Previous Grades in College')
            $('#shs_report_label').text('Previous Grades')
            $('#shs_card_button_name').text('Previous Grades')

            $('#last_course_attended').val('{{school.last_course_attended}}')
        });

        $("#transferee").on('click', function(){
            $("#last_school_attended").val('')
            $("#last_school_attended").attr('disabled', false)
            $("#last_course_attended").attr('disabled', false)
            $('#shs_report_h5').text('Transcript of Record (TOR)')
            $('#shs_report_label').text('Transcript of Record (TOR)')
            $('#shs_card_button_name').text('TOR')
            
            $('#last_school_attended').val('{{school.last_school_attended}}')
            $('#last_course_attended').val('{{school.last_course_attended}}')
        });

        {% if student.student_type_name == 'shiftee' %}
            $('#shiftee').trigger('click')
        {% elif student.student_type_name == 'transferee' %}
            $('#transferee').trigger('click')
        {% elif student.student_type_name == 'freshman' %}
            $('#freshman').trigger('click')
        {% endif %}

        {% if school.photo_grade %}
          $('a#upload_shs_card').hide();
            $('#edit_upload_shs').show();
        {% endif %}

        $('a#upload_shs_card').on('click', function(){
            $('input#photo_grade').trigger('click');
        });
        $('#edit_upload_shs').on('click', function(){
            $('input#photo_grade').trigger('click');
          });

        var shs_file = '{{ school.photo_grade.url|default_if_none:'' }}';

        $('input#photo_grade').on('change', function() {
            shs_file = this.files[0];
            var reader = new FileReader();
          
            reader.onload = function(e) {
              $('.upload-container-shs').css('background-image', 'url('+e.target.result+')');
              $('.upload-container-shs').css('background-color', '#808080');
            };
          
            reader.readAsDataURL(shs_file);
            $('a#upload_shs_card').hide();
            $('#edit_upload_shs').show();
        });

        $('#shs.back-button').click(function(e){
            $('div.profile-screen').hide();
            $('div#cet').show();
            $('#step-3').removeClass('wrapper-green');
            $('#step-3').addClass('wrapper');
            $('#step-3 div').removeClass('bg-pending');
            $('#step-3 div').removeClass('bg-white');
            $('#step-3 div i').removeClass('color-green');
  
            $('#step-2').removeClass('wrapper');
            $('#step-2').addClass('wrapper-green');
            $('#step-2 div').removeClass('bg-green');
            $('#step-2 div').addClass('bg-white');
            $('#step-2 div i').removeClass('color-white');
            $('#step-2 div i').addClass('color-green');
  
            $('span.progress-counter').text('2');
            $('html,body').animate({
                scrollTop:$('div.profile-screen').offset().top -90}, 'fast');
        });

        $('form#shs').submit(function(e){
            e.preventDefault();

            var formData = new FormData(this);
            if ($('#shiftee').is(':checked')) {
                formData.append('student_type_name', 'shiftee');
            }else if ($('#transferee').is(':checked')) {
                formData.append('student_type_name', 'transferee');
            }else if ($('#freshman').is(':checked')){
                formData.append('student_type_name', 'freshman');
            }
            formData.append('last_school_attended', $('#last_school_attended').val());
            formData.append('last_course_attended', $('#last_course_attended').val());
            formData.append('photo_grade', shs_file);
            $.ajax({
                type: 'POST',
                url: $("form#shs").attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                
                success: function(data) {
                  var errors = JSON.parse(data);
                  has_error = false;
  
                  $('div.student_type_name').empty().removeClass('d-block');
                  $('.rb-container .form-check-input').removeClass('rb-invalid');
                  $('div.last_school_attended').empty().removeClass('d-block');
                  $('#last_school_attended').removeClass('is-invalid');
                  $('div.last_course_attended').empty().removeClass('d-block');
                  $('#last_course_attended').removeClass('is-invalid');
                  $('div.strand').empty().removeClass('d-block');
                  $('#strand').removeClass('is-invalid');
                  $('div.high_school_name').empty().removeClass('d-block');
                  $('#high_school_name').removeClass('is-invalid');
                  $('div.class_rank').empty().removeClass('d-block');
                  $('#class_rank').removeClass('is-invalid');
                  $('div.academic_awards_received').empty().removeClass('d-block');
                  $('#academic_awards_received').removeClass('is-invalid');
                  $('div.classroom_organization').empty().removeClass('d-block');
                  $('#classroom_organization').removeClass('is-invalid');
                  $('div.student_supreme_government').empty().removeClass('d-block');
                  $('#student_supreme_government').removeClass('is-invalid');
                  $('div.gpa_first_semester').empty().removeClass('d-block');
                  $('#gpa_first_semester').removeClass('is-invalid');
                  $('div.gpa_second_semester').empty().removeClass('d-block');
                  $('#gpa_second_semester').removeClass('is-invalid');

                  $('div.photo_grade').empty().removeClass('d-block');
  
                  if (errors.student_type_name) {
                    $('.rb-container .form-check-input').addClass('rb-invalid');
                    $('div.student_type_name').removeClass('d-none');
                    $('div.student_type_name').addClass('d-block');
                    $.each(errors.student_type_name, function(index, error) {
                      $('div.student_type_name').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.last_school_attended) {
                    $('#last_school_attended').addClass('is-invalid');
                    $('div.last_school_attended').removeClass('d-none');
                    $('div.last_school_attended').addClass('d-block');
                    $.each(errors.last_school_attended, function(index, error) {
                      $('div.last_school_attended').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.last_course_attended) {
                    $('#last_course_attended').addClass('is-invalid');
                    $('div.last_course_attended').removeClass('d-none');
                    $('div.last_course_attended').addClass('d-block');
                    $.each(errors.last_course_attended, function(index, error) {
                      $('div.last_course_attended').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.strand) {
                    $('#strand').addClass('is-invalid');
                    $('div.strand').removeClass('d-none');
                    $('div.strand').addClass('d-block');
                    $.each(errors.strand, function(index, error) {
                      $('div.strand').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.high_school_name) {
                    $('#high_school_name').addClass('is-invalid');
                    $('div.high_school_name').removeClass('d-none');
                    $('div.high_school_name').addClass('d-block');
                    $.each(errors.high_school_name, function(index, error) {
                      $('div.high_school_name').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.class_rank) {
                    $('#class_rank').addClass('is-invalid');
                    $('div.class_rank').removeClass('d-none');
                    $('div.class_rank').addClass('d-block');
                    $.each(errors.class_rank, function(index, error) {
                      $('div.class_rank').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
  
                  if (errors.academic_awards_received) {
                    $('#academic_awards_received').addClass('is-invalid');
                    $('div.academic_awards_received').removeClass('d-none');
                    $('div.academic_awards_received').addClass('d-block');
                    $.each(errors.academic_awards_received, function(index, error) {
                      $('div.academic_awards_received').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }
                  
                  if (errors.classroom_organization) {
                    $('#classroom_organization').addClass('is-invalid');
                    $('div.classroom_organization').removeClass('d-none');
                    $('div.classroom_organization').addClass('d-block');
                    $.each(errors.classroom_organization, function(index, error) {
                      $('div.classroom_organization').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }

                  if (errors.student_supreme_government) {
                    $('#student_supreme_government').addClass('is-invalid');
                    $('div.student_supreme_government').removeClass('d-none');
                    $('div.student_supreme_government').addClass('d-block');
                    $.each(errors.student_supreme_government, function(index, error) {
                      $('div.student_supreme_government').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }

                  if (errors.gpa_first_semester) {
                    $('#gpa_first_semester').addClass('is-invalid');
                    $('div.gpa_first_semester').removeClass('d-none');
                    $('div.gpa_first_semester').addClass('d-block');
                    $.each(errors.gpa_first_semester, function(index, error) {
                      $('div.gpa_first_semester').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }

                  if (errors.gpa_second_semester) {
                    $('#gpa_second_semester').addClass('is-invalid');
                    $('div.gpa_second_semester').removeClass('d-none');
                    $('div.gpa_second_semester').addClass('d-block');
                    $.each(errors.gpa_second_semester, function(index, error) {
                      $('div.gpa_second_semester').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }

                  if (errors.photo_grade) {
                    $('div.photo_grade').removeClass('d-none');
                    $('div.photo_grade').addClass('d-block');
                    $.each(errors.photo_grade, function(index, error) {
                      $('div.photo_grade').append('<span>' + error.message + '</span>');
                    });
                    has_error = true
                  }

                  if (!shs_file) {
                    $('div.photo_grade').removeClass('d-none');
                    $('div.photo_grade').addClass('d-block');
                    $('div.photo_grade').append('<span>' + 'Please upload a photo of your grades.' + '</span>');
                    has_error = true
                  }
  
                  if (!has_error) {
                    $('div.profile-screen').hide();
                    $('div#economic-status').show();
                    $('#step-3').removeClass('wrapper');
                    $('#step-3').addClass('wrapper-green');
                    $('#step-3 div').removeClass('bg-white');
                    $('#step-3 div').addClass('bg-green');
                    $('#step-3 div i').removeClass('color-green');
                    $('#step-3 div i').addClass('color-white');
                    
                    $('#step-4').removeClass('wrapper');
                    $('#step-4').addClass('wrapper-green');
                    $('#step-4 div').addClass('bg-pending');
                    $('#step-4 div').addClass('bg-white');
                    $('#step-4 div i').addClass('color-green');

                    $('span.progress-counter').text('4');
                    $('html,body').animate({
                        scrollTop:$('div.profile-screen').offset().top -90}, 'fast');
                  }else{
                    $('html,body').animate({
                      scrollTop:$('div.profile-screen').offset().top -90}, 'fast');
                  }
              },
            });
  
        });
    })
</script>