{% extends 'main.html' %}

{% load static %}

{% block content %}

<style>
    body{
        padding-top: 0 !important
    }
</style>

<main id="home">
    <div class="container privacy m-0 w-100">
        <div class="row bg-1 privacy-title">
            <div class="col-lg-10 mx-lg-auto container text-center">
                <h1 class="text-center my-3 color-white">Data Privacy Policy</h1>
                <p class="fs-5 text-center color-white">
                    We take your data privacy seriously and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your data. By using our services, you consent to the practices described in this policy.
                </p>
            </div>
        </div>
        <div class="container col-lg-10 mx-lg-auto">
            <div class="row my-4 pt-lg-5 flex-row-reverse">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-1"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">Information We Collect</h2>
                    <p>
                        We collect various types of information from students, parents, and staff, including but not limited to:
                    </p>
                    <ul>
                        <li>Personal identification information (e.g., name, address, date of birth)</li>
                        <li>Contact information (e.g., email address, phone number)</li>
                        <li>Academic and scholastic records</li>
                        <li>Personality and Study habit information</li>
                        <li>Photographs</li>
                        <li>Other information required for educational and admission purposes</li>
                    </ul>
                </div>
            </div>
            <div class="row my-4 pt-lg-5">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-2"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">How We Use Your Information</h2>
                    <p class="lead justify">
                        The information we collect is used for the following purposes:
                    </p>
                    <ul>
                        <li>Administering academic programs and services</li>
                        <li>Facilitating communication with students, parents, and staff</li>
                        <li>Managing school operations and activities</li>
                        <li>Ensuring the safety and security of our school community</li>
                        <li>Complying with legal and regulatory requirements</li>
                        <li>Improving our educational programs and services</li>
                    </ul>
                </div>
            </div>
            <div class="row my-4 pt-lg-5 flex-row-reverse">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-3"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">Information Sharing</h2>
                    <p class="lead justify">
                        We do not sell, trade, or otherwise transfer your personal information to third parties for marketing purposes. However, we may share your information with trusted service providers who assist us in operating our school and providing educational services. These service providers are contractually obligated to keep your information confidential and secure.
                    </p>
                </div>
            </div>
            <div class="row my-4 pt-lg-5">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-4"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">Data Security</h2>
                    <p class="lead justify">
                        We take appropriate measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. Our staff is trained to handle data securely, and we use secure technologies and encryption to safeguard your data.
                    </p>
                </div>
            </div>
            <div class="row my-4 pt-lg-5 flex-row-reverse">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-5"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">Your Rights</h2>
                    <p class="lead justify">
                        You have the right to review, update, and correct your personal information held by us. If you have any concerns about the accuracy or use of your data, please contact us.
                    </p>
                </div>
            </div>
            <div class="row my-4 pt-lg-5">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-6"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class="mb-3">Changes to This Policy</h2>
                    <p class="lead justify">
                        We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes through email or other means of communication.
                    </p>
                </div>
            </div>
            <div class="row my-4 pt-lg-5 flex-row-reverse">
                <div class="col-sm-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="image-set image-7"></div>
                </div>
                <div class="col-sm-6">
                    <h2 class=" mb-3">Contact Us</h2>
                    <p class="lead justify">
                        If you have any questions or concerns about this Privacy Policy or our data practices, please contact our Privacy Officer at <span class="color-green lead">greenscreen@wmsu.edu.ph</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="container background-color-green mt-5">
        <p class="text-center">
            &copy; {% block year %}{{ page_year }}{% endblock year %} GreenScreen &middot; 
            Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </p>
    </footer>
</main>

{% endblock content %}
